.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.Variant {
  min-width: 60%;
  border: 1px solid black;
  padding: 12px;
  display: flex;
  justify-content: space-between;
}

.Variant_deleted {
  background-color: lightgray;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 20px;
}
